<!DOCTYPE html>
<html lang="en">
<head>
<title>CFI-CIRAS</title>
<link rel="stylesheet" type="text/css" href="/css/news_styles.css">
<link rel="stylesheet" type="text/css" href="/css/news_responsive.css">
<%-include ('./includes/header')%>
	
	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(/img/courses_background.jpg)"></div>
		</div>
		<div class="home_content">
			<h1>Assitant de Manager</h1>
		</div>
	</div>
    <di>
        
	<div class="news">
		<div class="container">
			<div class="row">
				
				<!-- News Column -->

				<div class="col-lg-8">
					
					<div class="xours">
						<!-- News Post -->
						<div class="cours">
							<div class="cours_image">
								<img src="/img/IMG_0190.jpg" alt="https://unsplash.com/@dsmacinnes">
							</div>
							<div class="cours_top d-flex flex-column flex-sm-row">
								<div class="cours_title_container">
									<div class="cours_title">
										<a href="cours.html">Assistant de Manager</a>
									</div>
									<div class="cours_meta">
									</div>
								</div>
							</div>
							<div class="cours_text">
								<p>La formation en tant qu'assistant de manager est conçue pour préparer les individus à occuper un rôle de soutien administratif et opérationnel auprès des cadres supérieurs et des gestionnaires. Cette formation vise à développer les compétences nécessaires pour aider efficacement les managers dans l'exécution de leurs tâches et contribuer au bon fonctionnement de l'entreprise.
                                    En plus de ces compétences spécifiques, la formation en assistant de manager peut également couvrir des sujets tels que la gestion du stress, la collaboration en équipe, la gestion des conflits, la présentation efficace et la gestion de projet.
                                    Dans l'ensemble, la formation en assistant de manager prépare les individus à soutenir les managers dans leur travail quotidien en fournissant des compétences pratiques, des connaissances organisationnelles et des compétences relationnelles nécessaires pour réussir dans ce rôle clé.
                                </p>
							</div>
							<div class="button button_1 register_button mx-auto trans_200 text-center"><a href="#">S'inscrire</a></div>
						</div>
					</div>
				</div>

				<!-- Sidebar Column -->

				<div class="col-lg-4">
					<div class="sidebar">

						<!-- Archives -->
						<div class="sidebar_section">
							<div class="sidebar_section_title">
								<h3>Pré-requis</h3>
							</div>
							<ul class="sidebar_list">
								<li class="sidebar_list_item"><a href="#">Compétences en communication</a></li>
								<li class="sidebar_list_item"><a href="#">Organisation et gestion du temps </a></li>
								<li class="sidebar_list_item"><a href="#">Maîtrise de l'informatique</a></li>
							</ul>
						</div>

						<!-- Latest Posts -->

						<div class="sidebar_section">
							<div class="sidebar_section_title">
								<h3>Résumé</h3>
							</div>
							
							<div class="latest_posts">
								
								<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a> Les assistantes de manager doivent avoir d'excellentes compétences en communication, tant à l'écrit qu'à l'oral. Elles doivent être capables de communiquer clairement et efficacement avec les autres membres de l'équipe, les clients et les supérieurs hiérarchiques.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Compétences en communication</a></div>
								</div>
                                	<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a>  Les assistantes de manager sont responsables de la gestion des agendas, de la planification des réunions et de la coordination des activités. Elles doivent donc être bien organisées, capables de hiérarchiser les tâches et de gérer efficacement leur temps.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Organisation et gestion du temps</a></div>
								</div>
                                	<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a>  Les assistantes de manager sont responsables de la gestion des agendas, de la planification des réunions et de la coordination des activités. Elles doivent donc être bien organisées, capables de hiérarchiser les tâches et de gérer efficacement leur temps.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Maîtrise des outils informatique</a></div>
								</div>									
							</div>
								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </di>

<%-include ('./includes/footer')%>

</body>
</html>
