<!DOCTYPE html>
<html lang="fr">
<head>
<title>CFI-CIRAS</title>
<link rel="stylesheet" type="text/css" href="/css/news_styles.css">
<link rel="stylesheet" type="text/css" href="/css/news_responsive.css">
<link rel="stylesheet" type="text/css" href="/css/directeur_rensposive.css">
<%-include ('./includes/header')%>
</head>
<body>

	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(img/DCFIC.jpg)"></div>
		</div>
	</div>

	<!-- Mot du Directeur Général du CFI -->
	<div class="directeur-section page_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="directeur_content">
						<h2 class="directeur_title">Mot du Directeur Général du CFI</h2>
						<p class="directeur_text">En tant que directeur général du CFI-CIRAS, je suis extrêmement fier de vous accueillir dans notre centre de formation en informatique, votre portail vers une excellence académique et une formation en informatique de pointe. Notre université s'est engagée à fournir un environnement d'apprentissage inspirant et stimulant, où chaque étudiant a la possibilité de développer ses compétences et son potentiel.</p>
						<p class="directeur_text">Notre engagement envers l'excellence académique est soutenu par une approche d'apprentissage holistique, où nous valorisons non seulement l'acquisition de connaissances techniques, mais également le développement des compétences en résolution de problèmes, en communication et en leadership. Nous croyons en l'importance de créer des individus polyvalents, capables de s'adapter aux défis changeants de l'industrie de l'informatique.</p>
						<p class="directeur_text">Je suis convaincu que vous trouverez au CFI-CIRAS une expérience éducative qui vous préparera à relever les défis de demain, que ce soit dans le domaine professionnel ou académique. Nous sommes impatients de vous accompagner dans votre parcours d'apprentissage et de voir chaque étudiant réaliser son plein potentiel.</p>
						<p class="directeur_text">Bienvenue chez nous le CFI-CIRAS, où l'avenir de l'informatique se dessine aujourd'hui.</p>
						<p class="directeur_text">Le Colonel Jérome IWANDZA</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="directeur_image">
						<img src="/img/DCFIB.jpg" alt="Directeur Général du CFI" class="animated-image directeur-image">
					</div>
				</div>
			</div>
		</div>
	</div>

<%-include ('./includes/footer')%>

</body>
</html>
