<!DOCTYPE html>
<html lang="en">
<head>
<title>CFI-CIRAS</title>
<link rel="stylesheet" type="text/css" href="/css/news_styles.css">
<link rel="stylesheet" type="text/css" href="/css/news_responsive.css">
<%-include ('./includes/header')%>
	
	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(/img/courses_background.jpg)"></div>
		</div>
		<div class="home_content">
			<h1>Système et Réseaux</h1>
		</div>
	</div>
    <di>
        
	<div class="news">
		<div class="container">
			<div class="row">
				
				<!-- News Column -->

				<div class="col-lg-8">
					
					<div class="news_posts">
						<!-- News Post -->
						<div class="news_post">
							<div class="news_post_image">
								<img src="/img/news_1.jpg" alt="https://unsplash.com/@dsmacinnes">
							</div>
							<div class="news_post_top d-flex flex-column flex-sm-row">
								<div class="news_post_title_container">
									<div class="news_post_title">
										<a href="news_post.html">Système et Réseaux</a>
									</div>
									<div class="news_post_meta">
									</div>
								</div>
							</div>
							<div class="news_post_text">
								<p>
                                    La formation en systèmes et réseaux vise à fournir aux participants les connaissances et les compétences nécessaires pour travailler dans le domaine de l'administration, de la configuration et de la gestion des systèmes informatiques et des réseaux. Cette formation se concentre sur les aspects techniques et pratiques de la mise en place et de la maintenance des infrastructures informatiques.
                                    Pendant la formation, les participants acquièrent une série de compétences clés :Administration des systèmes ;Gestion des réseaux ;Sécurité informatique;Virtualisation et cloud computing;Dépannage et résolution de problèmes.

                                    La formation en systèmes et réseaux prépare les participants à occuper des postes techniques au sein des entreprises, tels que techniciens réseau, administrateurs système, ingénieurs système ou spécialistes en sécurité informatique. Elle vise à développer des compétences pratiques et des connaissances approfondies pour répondre aux exigences du marché du travail dans le domaine des technologies de l'information.
                                </p>
							</div>
							<div class="news_post_button text-center trans_200">
								<a href="news_post.html">S'inscrire</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Sidebar Column -->

				<div class="col-lg-4">
					<div class="sidebar">

						<!-- Archives -->
						<div class="sidebar_section">
							<div class="sidebar_section_title">
								<h3>Pré-requis</h3>
							</div>
							<ul class="sidebar_list">
								<li class="sidebar_list_item"><a href="#">Connaissance des réseaux informatiques</a></li>
								<li class="sidebar_list_item"><a href="#">Compétences en administration système</a></li>
                                <li class="sidebar_list_item"><a href="#">Compétences en sécurité informatique</a></li>
    						</ul>
						</div>

						<!-- Latest Posts -->

						<div class="sidebar_section">
							<div class="sidebar_section_title">
								<h3>Résumé</h3>
							</div>
							
							<div class="latest_posts">
								
			                	<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a>Une compréhension des concepts fondamentaux des réseaux informatiques, tels que les protocoles réseau, les adresses IP, les routeurs, les commutateurs, les pare-feu, est importante pour une formation en systèmes et réseaux. Il est utile de savoir comment configurer et gérer des réseaux locaux (LAN) et des réseaux étendus (WAN).</a></div>
									</div>
									<div class="latest_post_title"><a href="">Connaissance des réseaux informatiques</a></div>
								</div>
                                	<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a>Une compréhension générale du fonctionnement des institutions publiques et de l'administration est un avantage. Cela peut inclure des connaissances sur les processus politiques, les systèmes gouvernementaux, la législation et les politiques publiques.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Compétences en administration système</a></div>
								</div>	
                                <div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a>Compte tenu de l'importance croissante de la sécurité informatique, il est préférable d'avoir une compréhension de base des concepts de sécurité, tels que la protection des données, les pare-feu, les mécanismes d'authentification et les vulnérabilités courantes.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Compétences en sécurité informatique</a></div>
								</div>					
							</div>
								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </di>

<%-include ('./includes/footer')%>

</body>
</html>
