<!DOCTYPE html>
<html lang="en">
<head>
<title>Course - Courses</title>
<link rel="stylesheet" type="text/css" href="/css/news_styles.css">
<link rel="stylesheet" type="text/css" href="/css/news_responsive.css">
<%-include ('./includes/header')%>
	
	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(/img/courses_background.jpg)"></div>
		</div>
		<div class="home_content">
			<h1>Informatique de gestion </h1>
		</div>
	</div>
    <di>
        
	<div class="news">
		<div class="container">
			<div class="row">
				
				<!-- News Column -->

				<div class="col-lg-8">
					
					<div class="news_posts">
						<!-- News Post -->
						<div class="news_post">
							<div class="news_post_image">
								<img src="/img/news_1.jpg" alt="https://unsplash.com/@dsmacinnes">
							</div>
							<div class="news_post_top d-flex flex-column flex-sm-row">
								<div class="news_post_title_container">
									<div class="news_post_title">
										<a href="">Informatique de gestion</a>
									</div>
									<div class="news_post_meta">
									</div>
								</div>
							</div>
							<div class="news_post_text">
								<p>La formation en informatique de gestion vise à préparer les étudiants à comprendre et à appliquer les principes de l'informatique dans un contexte de gestion d'entreprise. Elle combine des connaissances en informatique et en gestion, afin de former des professionnels capables de relever les défis technologiques et organisationnels auxquels les entreprises sont confrontées.
                                    Au cours de la formation, les étudiants acquièrent des compétences techniques en informatique, telles que la programmation, les bases de données, les réseaux et les systèmes d'exploitation. Ils sont également exposés aux principes de gestion d'entreprise, tels que la comptabilité, le marketing, la gestion des ressources humaines et la gestion de projet.
                                    Les étudiants apprennent à analyser les besoins des entreprises en matière de systèmes d'information, à concevoir des solutions informatiques adaptées, à gérer des projets technologiques, à assurer la sécurité des données et à optimiser l'utilisation des technologies de l'information dans un contexte de gestion.
                                </p>
							</div>
							<div class="news_post_button text-center trans_200">
								<a href="news_post.html">S'inscrire</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Sidebar Column -->

				<div class="col-lg-4">
					<div class="sidebar">

						<!-- Archives -->
						<div class="sidebar_section">
							<div class="sidebar_section_title">
								<h3>Pré-requis</h3>
							</div>
							<ul class="sidebar_list">
								<li class="sidebar_list_item"><a href="#">Connaissances en informatique</a></li>
								<li class="sidebar_list_item"><a href="#">Compétences en gestion </a></li>
								<li class="sidebar_list_item"><a href="#">Aptitudes analytiques</a></li>
							</ul>
						</div>

						<!-- Latest Posts -->

						<div class="sidebar_section">
							<div class="sidebar_section_title">
								<h3>Résumé</h3>
							</div>
							
							<div class="latest_posts">
								
								<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a> Une certaine familiarité avec les concepts de base de l'informatique est généralement attendue. Cela peut inclure des connaissances sur les systèmes d'exploitation, la programmation, les bases de données et les réseaux informatiques.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Connaissances en informatique</a></div>
								</div>
                                	<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a>Comme il s'agit d'une formation en informatique de gestion, des connaissances de base en gestion et en administration des affaires peuvent être nécessaires. Cela peut inclure des sujets tels que la comptabilité, le marketing, la gestion des ressources humaines et la gestion de projet.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Compétences en gestion</a></div>
								</div>
                                	<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a>Une formation en informatique de gestion nécessite souvent des compétences analytiques pour résoudre des problèmes, prendre des décisions et analyser des données. Des compétences en résolution de problèmes et en pensée critique sont donc généralement appréciées.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Aptitudes analytiques</a></div>
								</div>									
							</div>
								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </di>

<%-include ('./includes/footer')%>

</body>
</html>
