<!DOCTYPE html>
<html lang="en">
<head>
<title>Course - Courses</title>
<link rel="stylesheet" type="text/css" href="/css/news_styles.css">
<link rel="stylesheet" type="text/css" href="/css/news_responsive.css">
<%-include ('./includes/header')%>
	
	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(/img/courses_background.jpg)"></div>
		</div>
		<div class="home_content">
			<h1>Génie Logiciel</h1>
		</div>
	</div>
    <di>
        
	<div class="news">
		<div class="container">
			<div class="row">
				
				<!-- News Column -->

				<div class="col-lg-8">
					
					<div class="news_posts">
						<!-- News Post -->
						<div class="news_post">
							<div class="news_post_image">
								<img src="/img/news_1.jpg" alt="https://unsplash.com/@dsmacinnes">
							</div>
							<div class="news_post_top d-flex flex-column flex-sm-row">
								<div class="news_post_title_container">
									<div class="news_post_title">
										<a href="news_post.html">Génie Logiciel</a>
									</div>
									<div class="news_post_meta">
									</div>
								</div>
							</div>
							<div class="news_post_text">
								<p>La formation en génie logiciel vise à former des professionnels compétents dans la conception, le développement et la maintenance de logiciels de haute qualité. Cette formation combine des connaissances approfondies en informatique, en mathématiques et en résolution de problèmes pour permettre aux étudiants de développer des compétences solides en génie logiciel.

									Au cours de la formation, les étudiants acquièrent une compréhension approfondie des principes de l'informatique, notamment des systèmes d'exploitation, des langages de programmation, des bases de données, des algorithmes et des structures de données. Ils apprennent à concevoir des architectures logicielles efficaces, à développer des programmes informatiques fonctionnels et fiables, et à mettre en œuvre des solutions logicielles pour répondre aux besoins des utilisateurs.
                                    Les étudiants développent des compétences pratiques en utilisant des langages de programmation, des environnements de développement et des outils de gestion de projet. Ils apprennent également à collaborer efficacement au sein d'équipes de développement, à documenter leurs travaux et à communiquer clairement avec les parties prenantes.
									Une fois diplômés, les ingénieurs logiciels peuvent travailler dans divers domaines tels que le développement de logiciels, la gestion de projets informatiques, la consultation en technologie, la recherche et le développement, ou encore la conception d'applications web et mobiles.
                                </p>
							</div>
							<div class="news_post_button text-center trans_200">
								<a href="news_post.html">S'inscrire</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Sidebar Column -->

				<div class="col-lg-4">
					<div class="sidebar">

						<!-- Archives -->
						<div class="sidebar_section">
							<div class="sidebar_section_title">
								<h3>Pré-requis</h3>
							</div>
							<ul class="sidebar_list">
								<li class="sidebar_list_item"><a href="#">Compétences en mathématiques</a></li>
                                <li class="sidebar_list_item"><a href="#">Compétences en informatique</a></li>
								<li class="sidebar_list_item"><a href="#">Compétences en programmation</a></li>
								<li class="sidebar_list_item"><a href="#">Aptitudes en communication</a></li>
							</ul>
						</div>

						<!-- Latest Posts -->

						<div class="sidebar_section">
							<div class="sidebar_section_title">
								<h3>Résumé</h3>
							</div>
							
							<div class="latest_posts">
								
								<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a>Une base solide en mathématiques est généralement requise, notamment en algèbre, en géométrie, en calcul et en probabilités/statistiques. Les mathématiques sont souvent utilisées dans l'analyse et la modélisation des systèmes logiciels.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Compétences en mathématiques</a></div>
								</div>
                                	<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a>Une certaine familiarité avec les concepts de base de l'informatique est attendue. Cela peut inclure une connaissance des systèmes d'exploitation, des langages de programmation, des bases de données, des algorithmes et des structures de données.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Compétences en informatique</a></div>
								</div>
                                	<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a> Une compréhension de base de la programmation est essentielle. Les étudiants doivent être à l'aise avec au moins un langage de programmation courant et être en mesure de résoudre des problèmes en écrivant du code.

                                            Compétences en résolution de problèmes : Le génie logiciel implique la résolution de problèmes complexes liés à la conception, au développement et à la maintenance de logiciels. Des compétences en résolution de problèmes et en pensée analytique sont donc importantes.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Compétences en programmation</a></div>
								</div>	
                                	<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a>Les ingénieurs logiciels doivent être en mesure de communiquer efficacement avec les membres de leur équipe, les clients et les utilisateurs finaux. Des compétences en communication écrite et orale sont essentielles pour documenter et présenter les conceptions et les solutions logicielles.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Aptitudes en communication</a></div>
								</div>								
							</div>
								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </di>

<%-include ('./includes/footer')%>

</body>
</html>
