<!DOCTYPE html>
<html lang="en">
<head>
<title>CFI-CIRAS</title>
<link rel="stylesheet" type="text/css" href="/css/news_styles.css">
<link rel="stylesheet" type="text/css" href="/css/news_responsive.css">
<%-include ('./includes/header')%>
	
	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(/img/main.png)"></div>
		</div>
		<div class="home_content">
			<h1>Maintenance Informatique</h1>
		</div>
	</div>
    <di>
        
	<div class="news">
		<div class="container">
			<div class="row">
				
				<!-- News Column -->

				<div class="col-lg-8">
					
					<div class="cours">
						<!-- News Post -->
						<div class="cours">
							<div class="cours_image">
								<img src="/img/main1.png" alt="https://unsplash.com/@dsmacinnes">
							</div>
							<div class="cours_top d-flex flex-column flex-sm-row">
								<div class="cours_title_container">
									<div class="cours_title">
										<a href="cours.html">Maintenance Informatique</a>
									</div>
									<div class="cours_meta">
									</div>
								</div>
							</div>
							<div class="cours_text">
								<p>La formation en maintenance informatique vise à préparer les étudiants à devenir des professionnels compétents dans la réparation, le dépannage et l'entretien des systèmes informatiques. Cette formation développe les compétences techniques et les connaissances nécessaires pour assurer le bon fonctionnement des équipements informatiques et résoudre les problèmes techniques qui peuvent survenir.
                                    Au cours de la formation, les étudiants acquièrent des connaissances approfondies des systèmes d'exploitation, des réseaux informatiques, du matériel informatique et des logiciels. Ils apprennent à identifier et à résoudre les problèmes techniques, à installer et à configurer des composants informatiques, à effectuer des mises à niveau et à maintenir les systèmes informatiques en bon état de fonctionnement.
                                    Les étudiants développent des compétences pratiques en dépannage, en diagnostic et en réparation de problèmes matériels et logiciels. Ils apprennent également à interagir efficacement avec les utilisateurs finaux, à communiquer des solutions techniques de manière claire et compréhensible, et à respecter les normes de sécurité et les bonnes pratiques en matière de maintenance.
                                    Une fois diplômés, les techniciens en maintenance informatique peuvent travailler dans divers environnements tels que les entreprises, les institutions éducatives, les services informatiques internes, les fournisseurs de services informatiques et les centres de réparation. Leurs responsabilités peuvent inclure la maintenance préventive, le support technique, la résolution des problèmes liés aux logiciels et au matériel, ainsi que l'assistance aux utilisateurs.
                                </p>
							</div>
							<div class="button button_1 register_button mx-auto trans_200 text-center"><a href="#">S'inscrire</a></div>
						</div>
					</div>
				</div>

				<!-- Sidebar Column -->

				<div class="col-lg-4">
					<div class="sidebar">

						<!-- Archives -->
						<div class="sidebar_section">
							<div class="sidebar_section_title">
								<h3>Pré-requis</h3>
							</div>
							<ul class="sidebar_list">
								<li class="sidebar_list_item"><a>Compétences en informatique de base</a></li>
								<li class="sidebar_list_item"><a>Compétences en résolution de problèmes</a></li>
								<li class="sidebar_list_item"><a>Aptitudes techniques</a></li>
							</ul>
						</div>

						<!-- Latest Posts -->

						<div class="sidebar_section">
							<div class="sidebar_section_title">
								<h3>Résumé</h3>
							</div>
							
							<div class="latest_posts">
								
								<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a>Une certaine familiarité avec les concepts de base de l'informatique est généralement attendue. Cela peut inclure une compréhension des systèmes d'exploitation, des réseaux informatiques, des logiciels et du matériel informatique.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Compétences en informatique de base</a></div>
								</div>
                                	<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a>La maintenance informatique implique souvent la résolution de problèmes techniques. Des compétences en résolution de problèmes, en dépannage et en diagnostic sont donc importantes pour réussir dans ce domaine.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Compétences en résolution de problèmes</a></div>
								</div>
                                	<!-- Latest Post -->
								<div class="latest_post">
									<div class="latest_post_image">
										<div class="latest_post_title"><a>Une formation en maintenance informatique nécessite des aptitudes techniques pour manipuler, installer, réparer et mettre à niveau du matériel informatique, tels que les ordinateurs, les imprimantes, les scanners, etc. Des compétences de base en électronique peuvent également être utiles.</a></div>
									</div>
									<div class="latest_post_title"><a href="">Aptitudes techniques</a></div>
								</div>									
							</div>
								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </di>

<%-include ('./includes/footer')%>

</body>
</html>
