<!DOCTYPE html>
<html lang="en">
<head>
<title>Course - Courses</title>
<link rel="stylesheet" type="text/css" href="/css/news_styles.css">
<link rel="stylesheet" type="text/css" href="/css/news_responsive.css">
<%-include ('./includes/header')%>
<link rel="stylesheet" type="text/css" href="/css/directeur_styles.css">
</head>
<body>

	<!-- Directeur du CFI -->
	<div class="directeur-section">
		<div class="directeur-image">
			<img src="/img/directeur.jpg" alt="Directeur du CFI">
		</div>
		<p class="directeur-text">Le Colonel Jérome IWANDZA</p>
	</div>

	<!-- Images avec noms -->
	<div class="images-section">
		<div class="image-container">
			<img src="/img/image1.jpg" alt="Image 1">
			<p class="image-text">Nom Image 1</p>
		</div>
		<div class="image-container">
			<img src="/img/image2.jpg" alt="Image 2">
			<p class="image-text">Nom Image 2</p>
		</div>
	</div>

<%-include ('./includes/footer')%>

</body>
</html>
