<!DOCTYPE html>
<html lang="en">
<head>
<title>CFI-CIRAS</title>
<link rel="stylesheet" type="text/css" href="/css/news_styles.css">
<link rel="stylesheet" type="text/css" href="/css/news_responsive.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<link rel="stylesheet" href="animated.css">
<%-include ('./includes/header')%>
</head>
<body>

	<!-- Home -->

	<div class="home animated animate__fadeInDown">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(img/dg.png)"></div>
		</div>
		<div class="home_content">
			<h1>Corps Administratif</h1>
		</div>
	</div>
	<!-- Présentation du Corps Administratif -->
	<div class="presentation-corps-section page_section animated animate__fadeInDown ">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col">
							<div class="section_title text-center animated animate__fadeInTopLeft">
								<h1>Corps Administratif</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="presentation-corps_text">Bienvenue au service administratif du CFI-CIRAS ! </p>
					<p class="presentation-corps_text">Directeur Général - Colonel Jérôme IWANDZA :
                        En tant que Directeur Général, le Colonel Jérôme IWANDZA est responsable de la gestion globale de l'université. Son rôle consiste à élaborer et mettre en œuvre la vision stratégique de l'institution, superviser les activités académiques et administratives, et représenter l'université auprès des instances supérieures, des partenaires et du public. Il assure également le bon fonctionnement général de l'université en veillant à ce que les objectifs soient atteints, tout en maintenant un haut niveau de qualité académique et de satisfaction des étudiants et du personnel.</p>
					<p class="presentation-corps_text">Directeur du Centre de formation en Informatique - Colonel Alain EKONZI :
                        Le Colonel Alain EKONZI est responsable de la gestion administrative et opérationnelle de l'université. Il travaille en étroite collaboration avec le Directeur Général pour mettre en œuvre la vision institutionnelle et assurer le bon déroulement des activités au quotidien. Ses responsabilités incluent la gestion des ressources humaines, la coordination des services, le suivi des budgets et l'élaboration de politiques internes. Il joue un rôle clé dans la prise de décisions importantes pour l'université et dans la gestion des projets stratégiques.</p>
					<p class="presentation-corps_text">Chef de Services des Affaires Pédagogiques - Commandant Claver ITOUA :
                        Le Commandant Claver ITOUA est chargé de superviser le corps enseignant de l'université. Il travaille en étroite collaboration avec les Chargés d'enseignement, les Chargés de cours et les Chargés d'enseignement technique et professionnel pour s'assurer que les programmes d'enseignement sont de qualité et conformes aux normes éducatives. Il est responsable de l'évaluation et de l'amélioration continue des programmes académiques, ainsi que de la gestion des ressources pédagogiques.</p>
					<p class="presentation-corps_text">Chef de Services de la Scolarité et des Examens - Alphonse ILOKI-NGATSONGO :
                        Alphonse ILOKI-NGATSONGO est responsable de la gestion des affaires liées à la scolarité des étudiants et à la planification des examens. Il supervise les processus d'inscription des étudiants, assure le suivi de leur progression académique et veille à la bonne organisation des examens et des évaluations. Il joue un rôle essentiel dans le maintien de la qualité de l'expérience étudiante, en veillant à ce que les étudiants soient bien encadrés tout au long de leur parcours universitaire.
                        
                    </p>
                    <p class="presentation-corps_text">Coordinateur des Cycles Informatiques et Techniques Administratives - Christ OBAMI-YALLA :
                            Christ OBAMI-YALLA est responsable de la coordination des cycles d'études informatiques et techniques administratives au sein de l'université. Il travaille en étroite collaboration avec les enseignants et les responsables pédagogiques pour s'assurer que les programmes académiques sont adaptés aux besoins du marché de l'emploi et que les étudiants acquièrent les compétences nécessaires pour réussir dans leurs domaines respectifs. Il est également impliqué dans le développement de partenariats avec des entreprises et des organisations pour favoriser les opportunités de stages et d'emplois pour les étudiants.  
                     </p>
                     <p class="presentation-corps_text">Chef de Serices de Finances et du Matériel - NDONGO ILLOYE Alice Michelle Sylvie:
                            Alice Michelle Sylvie NDONGO ILLOYE  apporte son expertise financière et sa gestion efficace des ressources matérielles pour garantir que notre institution fonctionne de manière transparente et optimale sur le plan financier.                 
                    </p>
                     <p class="presentation-corps_text">Chef de Bureau du Centre de Calcul -  Vivien Armel EYANGOLO:
                        Vivien Armel EYANGOLO est responsable de superviser l'infrastructure informatique cruciale qui soutient nos activités académiques et de recherche. Son rôle consiste à garantir que nos étudiants et notre corps professoral ont accès aux ressources informatiques nécessaires pour mener à bien leurs projets d'apprentissage et de recherche.  
                 </p>
				</div>
			</div>
		</div>
	</div>
<!-- Administration du CFI -->
<div class="teachers page_section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center">
                    <h2>Administration du CFI</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 teacher text-center">
                <img src="img/DG3.png" alt="Image 1" style="max-width: 200px; max-height: 400px;">
                <div class="image-name" style="color: black; text-align: center;">Directeur Général du CFI-CIRAS</div>
                <div class="image-name" style="color: black; text-align: center;">Jerôme IWANDZA</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 teacher text-center">
                <img src="img/cdfia-min.jpg" alt="Image 1" style="max-width: 200px; max-height: 400px;">
                <div class="image-name" style="color: black; text-align: center;">Directeur du CFI</div>
                <div class="image-name" style="color: black; text-align: center;">Alain EKONDZI</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 teacher">
                <img src="img/Michaelagence1-min.jpg" alt="Image 1" style="max-width: 200px; max-height: 400px;">
                <div class="image-name" style="color: black; text-align: center;">Chef de Services des Affaires Pédagogiques</div>
                <div class="image-name" style="color: black; text-align: center;">Claver ITOUA</div>
            </div>
            <div class="col-lg-3 teacher">
                <img src="img/Michaelagence1-min.jpg" alt="Image 3" style="max-width: 200px; max-height: 400px;">
                <div class="image-name" style="color: black; text-align: center;">Chef de Services de la Scolarité et des Examens</div>
                <div class="image-name" style="color: black; text-align: center;">Alphonse ILOKI-GATSONGO</div>
            </div>
            <div class="col-lg-3 teacher">
                <img src="img/Michaelagence20-min.jpg" alt="Image 4" style="max-width: 185px; max-height: 400px;">
                <div class="image-name" style="color: black; text-align: center;">Coordinateur des Cycles Informatique et Technique administratives</div>
                <div class="image-name" style="color: black; text-align: center;">Chris OBAMI YALLA</div>
            </div>
            <div class="col-lg-3 teacher">
                <img src="img/IMG_0200-min.jpg" alt="Image 2" style="max-width: 170px; max-height: 400px;">
                <div class="image-name" style="color: black; text-align: center;">Chef de Services du Matériel et Finances</div>
                <div class="image-name" style="color: black; text-align: center;">NDONGO ILLOYE Alice Michelle Sylvie</div>
            </div>
            <div class="col-lg-3 teacher">
                <img src="img/Michaelagence1-min.jpg" alt="Image 2" style="max-width: 200px; max-height: 400px;">
                <div class="image-name" style="color: black; text-align: center;">Chef de Bureau du Centre de Calcul</div>
                <div class="image-name" style="color: black; text-align: center;">Vivien Armel EYANGOLO</div>
            </div>
        </div>
    </div>
</div>


<%-include ('./includes/footer')%>

</body>
</html>
