<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFI-CIRAS</title>
    <title>CFI-CIRAS</title>
    <!-- Inclure les fichiers CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Inclure les fichiers JavaScript Bootstrap (jQuery et Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="animated.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%-include ('./includes/header')%>
    <style>
        /* Add custom styles here */
        body {
            color: black;
        }

        .section_title {
            font-family: Arial, sans-serif;
            font-weight: bold;
            font-size: 24px;
        }

        .table {
            margin: 0 auto;
            width: 100%;
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            border-collapse: collapse;
        }

        .table th,
        .table td {
            border: 3px solid #918c8cd0;
            padding: 20px;
            text-align: center;
        }

        .table thead {
            background-color: #ff5e00d4;
            color: rgb(255, 255, 255);
        }
    </style>
</head>

<body>

    <!-- Home -->

    <div class="home animated animate__fadeInDown">
        <div class="home_background_container prlx_parent">
            <div class="home_background prlx" style="background-image:url(img/Michaelagence9-min.jpg)"></div>
        </div>
        <div class="home_content">
            <h1>Calendrier Académique</h1>
        </div>
    </div>

    <!-- Popular -->

    <div class="popular page_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center animated animate__fadeInTopLeft">
                        <h1>Calendrier académique 2022-2023</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-responsive animated animate__fadeInUp">
                        <thead>
                            <tr>
                                <th>Mois</th>
                                <th>Événement</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Décembre</td>
                                <td>Début des cours 2e et 3e années</td>
                                <td>6 décembre 2023</td>
                            </tr>
                            <tr>
                                <td>Décembre</td>
                                <td>Début des cours 1er années</td>
                                <td>12 décembre 2023</td>
                            </tr>
                            <tr>
                                <td>Mars</td>
                                <td>Repos des étudiants</td>
                                <td>18 au 20 mars 2023</td>
                            </tr>
                            <tr>
                                <td>Mars</td>
                                <td>Conseil pédagogique</td>
                                <td>18 mars 2023</td>
                            </tr>
                            <tr>
                                <td>Mars</td>
                                <td>1ere session d'examens des semestres imapires(1,2et5)</td>
                                <td>21 au 31 mars 2023</td>
                            </tr>
                            <tr>
                                <td>Mars/Avril</td>
                                <td>Corrections des copies d'examens</td>
                                <td>23 mars au 6 avril 2023</td>
                            </tr>
                            <tr>
                                <td>Avril</td>
                                <td>Congés</td>
                                <td>3 au 6 avril 2023</td>
                            </tr>
                            <tr>
                                <td>Avril</td>
                                <td>Soutenances des rapports et mémoires</td>
                                <td>4 au 15 avril 2023</td>
                            </tr>
                            <tr>
                                <td>Avril</td>
                                <td>Reprise de cours</td>
                                <td>17 avril 2023</td>
                            </tr>
                            <tr>
                                <td>Avril</td>
                                <td>Publication des resultats des semestres impairs (1,3,et5)</td>
                                <td>25 au 26 avril 2023</td>
                            </tr>
                            <tr>
                                <td>Mai</td>
                                <td>Session de rattrapage des semestres imapirs</td>
                                <td>16 au 26 mai 2023</td>
                            </tr>
                            <tr>
                                <td>Mai</td>
                                <td>Reprise des cours</td>
                                <td>29 mai 2023</td>
                            </tr>
                            <tr>
                                <td>Aôut</td>
                                <td>Repos des étudiants</td>
                                <td>5 au 6 aôut 2023</td>
                            </tr>
                            <tr>
                                <td>Aôut</td>
                                <td>Conseil pédagogique</td>
                                <td>5 aôut 2023</td>
                            </tr>
                            <tr>
                                <td>Aôut</td>
                                <td>Session d'examens des semestres pairs(2,4 et 6)</td>
                                <td>7 au 19 aôut 2023</td>
                            </tr>
                            <tr>
                                <td>Aôut</td>
                                <td>Corrections des copies d'examens</td>
                                <td>8 au 25 aôut 2023</td>
                            </tr>
                            <tr>
                                <td>Septembre</td>
                                <td>Publication des resultats des semestres pairs (2,4 et 6)</td>
                                <td>13 septembre 2023</td>
                            </tr>
                            <tr>
                                <td>Septembre</td>
                                <td>Session de rattrapage des semstres pairs</td>
                                <td>19 au 30 septembre 2023</td>
                            </tr>
                            <tr>
                                <td>Septembre/Octobre</td>
                                <td>Correction des copies</td>
                                <td>20 septembre au 6 octobre 2023</td>
                            </tr>
                            <tr>
                                <td>Octobre</td>
                                <td>Concours d'entrée au CFI-CIRAS</td>
                                <td>13 octobre 2023</td>
                            </tr>
                            <tr>
                                <td>Octobre</td>
                                <td>Test spéciale de passage en 2e et 3e années</td>
                                <td>17 octobre 2023</td>
                            </tr>
                            <tr>
                                <td>Octobre</td>
                                <td>Publication des resultats (Session de rattrapage,Conceours,test)</td>
                                <td>20 octobre 2023</td>
                            </tr>
                           <tr>
                                <td>Novembre</td>
                                <td>Dernier conseil pédagogique de l'année académique 2022-2023</td>
                                <td>3 novembre 2023</td>
                            </tr>
                            <tr>
                                <td>Novembre</td>
                                <td>Rentrée académique 2023-2024</td>
                                <td>6 novembre 2023</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%-include ('./includes/footer')%>
    <script>
        // Vérifier si l'élément est visible dans la vue du navigateur
        $.fn.visible = function (partial) {
            var $t = $(this),
                $w = $(window),
                viewTop = $w.scrollTop(),
                viewBottom = viewTop + $w.height(),
                _top = $t.offset().top,
                _bottom = _top + $t.height(),
                compareTop = partial === true ? _bottom : _top,
                compareBottom = partial === true ? _top : _bottom;
            return compareBottom <= viewBottom && compareTop >= viewTop;
        };

        // Fonction pour ajouter la classe 'animate__fadeInUp' aux éléments animés lorsqu'ils apparaissent dans la vue
        function addAnimationClass() {
            $(".animated").each(function (index) {
                const $this = $(this);
                if ($this.visible(true)) {
                    $this.addClass("animate__fadeInUp");
                }
            });
        }

        // Appel initial de la fonction pour les éléments déjà visibles lors du chargement de la page
        addAnimationClass();

        // Appeler la fonction lorsque l'utilisateur fait défiler la page
        $(window).scroll(function () {
            addAnimationClass();
        });
    </script>

</body>

</html>
