<!DOCTYPE html>
<html lang="en">
<head>
<title>CFI-CIRAS</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<link rel="stylesheet" href="animated.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%-include ('./includes/header')%>
<style>
    /* Add custom styles here */
    body {
        color: black;
    }

    .section_title {
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 24px;
    }

    .block-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .block {
        background-color: #f8f9fa;
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        margin-bottom: 30px;
    }

    .block-image {
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        height: 300px;
        position: relative;
    }

    .block-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }

    .block-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .block-text {
        font-size: 16px;
        margin-bottom: 20px;
        color: rgb(6, 6, 6);
    }

    .block-button {
        display: inline-block;
        background-color: #ffcc00;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .block-button:hover {
        background-color: #e46b1b;
    }
</style>
</head>
<body>
    <!-- Home -->
    <div class="home animated animate__fadeInDown">
        <div class="home_background_container prlx_parent">
            <div class="home_background prlx" style="background-image:url(img/Michaelagence9.jpg)"></div>
        </div>
        <div class="home_content">
            <h1>Académie Cisco</h1>
        </div>
    </div>

    <div class="popular page_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center animated animate__fadeInTopLeft">
                        <h1>CFI Cisco Académie</h1>
                    </div>
                </div>
            </div>
            <div class="block-container">
                <div class="block block1">
                    <div class="block-image" style="background-image: url('img/logo-cisco.jpg');">
                        <div class="block-content">
                            <div class="block-title">Formation Avancée en Réseaux</div>
                            <div class="block-text">Découvrez notre formation avancée en réseaux Cisco pour devenir un expert en connectivité.</div>
                            <a href="#" class="block-button">S'inscrire</a>
                        </div>
                    </div>
                </div>
                <div class="block block2">
                    <div class="block-image" style="background-image: url('img/logo-cisco.jpg');">
                        <div class="block-content">
                            <div class="block-title">Sécurité Informatique</div>
                            <div class="block-text">Protégez les réseaux et les systèmes informatiques avec notre formation en sécurité Cisco.</div>
                            <a href="#" class="block-button">S'inscrire</a>
                        </div>
                    </div>
                </div>
                <div class="block block3">
                    <div class="block-image" style="background-image: url('img/logo-cisco.jpg');">
                        <div class="block-content">
                            <div class="block-title">Internet des Objets (IoT)</div>
                            <div class="block-text">Explorez le monde de l'Internet des Objets avec notre formation spécialisée en IoT.</div>
                            <a href="#" class="block-button">S'inscrire</a>
                        </div>
                    </div>
                </div>
                <div class="block block4">
                    <div class="block-image" style="background-image: url('img/logo-cisco.jpg');">
                        <div class="block-content">
                            <div class="block-title">Développement Web</div>
                            <div class="block-text">Apprenez à concevoir et développer des applications Web avec notre formation en développement Cisco.</div>
                            <a href="#" class="block-button">S'inscrire</a>
                        </div>
                    </div>
                </div>
                <div class="block block5">
                    <div class="block-image" style="background-image: url('img/logo-cisco.jpg');">
                        <div class="block-content">
                            <div class="block-title">Big Data et Analytique</div>
                            <div class="block-text">Maîtrisez les technologies Big Data et les techniques analytiques avec notre formation Cisco.</div>
                            <a href="#" class="block-button">S'inscrire</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include ('./includes/footer')%> 
</body>
</html>
