<!DOCTYPE html>
<html>
<head>
<title>CFI-CIRAS</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<link rel="stylesheet" href="animated.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%-include ('./includes/header')%>
<style>
    /* ... (styles restants) ... */
    
    .formation-section {
        background-color: #b5b8b9;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 30px;
    }

    .formation-image {
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        height: 300px;
        position: relative;
    }

    .formation-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }

    .formation-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .formation-text {
        font-size: 16px;
        margin-bottom: 20px;
        color: rgb(163, 235, 108);
    }

    .formation-button {
        display: inline-block;
        background-color: #00c8ff;
        color: white;
        padding: 15px 40px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        transition: background-color 0.3s;
    }

    .formation-button:hover {
        background-color: #fede0f;
    }
    
    /* ... (autres styles restants) ... */
</style>
</head>
<body>
    <!-- Home -->
    <div class="home animated animate__fadeInDown">
        <div class="home_background_container prlx_parent">
            <div class="home_background prlx" style="background-image:url(img/Michaelagence9.jpg)"></div>
        </div>
        <div class="home_content">
            <h1>Académie Cisco</h1>
        </div>
    </div>

    <div class="popular page_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title text-center animated animate__fadeInTopLeft">
                        <h1>CFI Cisco Académie</h1>
                    </div>
                </div>
            </div>
            <div class="block-container">
                <div class="formation-section">
                    <div class="formation-image" style="background-image: url('img/fond.jpg');">
                        <div class="formation-content">
                            <div class="formation-title">IT Essetials (Hardware, Software and mobile)</div>
                            <div class="formation-text"></div>
                            <a href="/Cisco/iet" class="formation-button">Voir plus</a>
                        </div>
                    </div>
                </div>
                <div class="formation-section">
                    <div class="formation-image" style="background-image: url('img/fond.jpg');">
                        <div class="formation-content">
                            <div class="formation-title">CCNA Routing and Switching (1,2 et 3)</div>
                            <div class="formation-text"></div>
                            <a href="/Cisco/ccna" class="formation-button">Voir plus</a>
                        </div>
                    </div>
                </div>
                <div class="formation-section">
                    <div class="formation-image" style="background-image: url('img/fond.jpg');">
                        <div class="formation-content">
                            <div class="formation-title">Sécurité Network</div>
                            <div class="formation-text"></div>
                            <a href="/Cisco/secu" class="formation-button">Voir plus</a>
                        </div>
                    </div>
                </div>
                <div class="formation-section">
                    <div class="formation-image" style="background-image: url('img/fond.jpg');">
                        <div class="formation-content">
                            <div class="formation-title">CCNP Entrerpise</div>
                            <div class="formation-text"></div>
                            <a href="/Cisco/ccnp" class="formation-button">Voir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%-include ('./includes/footer')%>
</body>
</html>
