<!DOCTYPE html>
<html lang="en">
<head>
<title>CFI-CIRAS</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<link rel="stylesheet" href="animated.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%-include ('./includes/header')%>
	
	<!-- Home -->

	<div class="home animated animate__fadeInDown">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(img/Michaelagence9-min.jpg)"></div>
		</div>
		<div class="home_content">
			<h1>Formations</h1>
		</div>
	</div>

	<!-- Popular -->

	<div class="popular page_section ">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center animated animate__fadeInTopLeft">
						<h1>LE CFI-CIRAS PROPOSE UNE GAMME DE FORMATIONS DE QUALITÉ DANS LE DOMAINE DE L'INFORMATIQUE ET DES TECHNIQUES DE L'ADMINISTRATION EN ADÉQUATION AVEC LE MONDE PROFESSIONNEL</h1>
					</div>
				</div>
			</div>

			<div class="row course_boxes animated animate__fadeInTopLeft">
				
				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/IMG_0192-min.jpg" alt="https://unsplash.com/@kellybrito">
						<div class="card-body text-center">
							<div class="card-title"><a href="/formation/assistmanage">Assistant de Manager </a></div>
							<div class="card-text">Filière : Technique Administrative</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/dipl.jpg" width="42" alt="https://unsplash.com/@mehdizadeh">
							</div>
							<div class="course_author_name">Diplôme Inivesitaire de Technologie</span></div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>2 ans</span></div>
						</div>
					</div>
				</div>

				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/IMG_0194-min.jpg" alt="https://unsplash.com/@cikstefan">
						<div class="card-body text-center">
							<div class="card-title"><a href="formation/adminpublique">Administration Publique</a></div>
							<div class="card-text">Filière : Technique Administrative</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/dipl.jpg" width="42" alt="https://unsplash.com/@mehdizadeh">
							</div>
							<div class="course_author_name">Licence en Administration Publique</span></div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>3 ans</span></div>
						</div>
					</div>
				</div>

				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/ig1cours-min.jpg" alt="https://unsplash.com/@dsmacinnes">
						<div class="card-body text-center">
							<div class="card-title"><a href="formation/infogestion">Informatique de Gestion </a></div>
							<div class="card-text">filière : Informatique</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/dipl.jpg" width="42" alt="https://unsplash.com/@mehdizadeh">
							</div>
							<div class="course_author_name">Diplome Universitaire de Technologie</div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>2 ans</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row course_boxes">

				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/slider-1.png" alt="https://unsplash.com/@dsmacinnes">
						<div class="card-body text-center">
							<div class="card-title"><a href="formation/maintenance">Maintenance Informatique </a></div>
							<div class="card-text">Filière : Informatique</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/dipl.jpg" width="42" alt="https://unsplash.com/@mehdizadeh">
							</div>
							<div class="course_author_name">Diplome Universitaire de Technologie</div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>2 ans</span></div>
						</div>
					</div>
				</div>

				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/MichaelagenceGL-min.jpg" alt="image d'un diplome">
						<div class="card-body text-center">
							<div class="card-title"><a href="formation/infogenielogiciel">Génie Logiciel</a></div>
							<div class="card-text">Filière : Informatique</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/dipl.jpg" width="42" alt="image d'un diplome">
							</div>
							<div class="course_author_name">Licence Informatique</div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>3 ans</span></div>
						</div>
					</div>
				</div>

				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/SRAF-min.jpg" alt="https://unsplash.com/@claybanks1989">
						<div class="card-body text-center">
							<div class="card-title"><a href="/formation/infosystemer">Système et Réseaux</a></div>
							<div class="card-text">Filière : Informatique</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/dipl.jpg" width="42" alt="">
							</div>
							<div class="course_author_name">Licence Informatique</div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>3 ans</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
<%-include ('./includes/footer')%>
<script>
	// Vérifier si l'élément est visible dans la vue du navigateur
	$.fn.visible = function (partial) {
		var $t = $(this),
			$w = $(window),
			viewTop = $w.scrollTop(),
			viewBottom = viewTop + $w.height(),
			_top = $t.offset().top,
			_bottom = _top + $t.height(),
			compareTop = partial === true ? _bottom : _top,
			compareBottom = partial === true ? _top : _bottom;
		return compareBottom <= viewBottom && compareTop >= viewTop;
	};

	// Fonction pour ajouter la classe 'animate__fadeInUp' aux éléments animés lorsqu'ils apparaissent dans la vue
	function addAnimationClass() {
		$(".animated").each(function (index) {
			const $this = $(this);
			if ($this.visible(true)) {
				$this.addClass("animate__fadeInUp");
			}
		});
	}

	// Appel initial de la fonction pour les éléments déjà visibles lors du chargement de la page
	addAnimationClass();

	// Appeler la fonction lorsque l'utilisateur fait défiler la page
	$(window).scroll(function () {
		addAnimationClass();
	});
</script>

</body>
</html>