<!DOCTYPE html>
<html lang="en">
<head>
<title>Course - Courses</title>
<%-include ('./includes/header')%>
	
	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(img/courses_background.jpg)"></div>
		</div>
		<div class="home_content">
			<h1>Formations</h1>
		</div>
	</div>

	<!-- Popular -->

	<div class="popular page_section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>LE CFI-CIRAS PROPOSE UNE GAMME DE FORMATIONS DE QUALITÉ DANS LE DOMAINE DE L'INFORMATIQUE ET DES TECHNIQUES DE L'ADMINISTRATION EN ADÉQUATION AVEC LE MONDE PROFESSIONNEL</h1>
					</div>
				</div>
			</div>

			<div class="row course_boxes">
				
				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/course_1.jpg" alt="https://unsplash.com/@kellybrito">
						<div class="card-body text-center">
							<div class="card-title"><a href="courses.html">Assistant de Manager</a></div>
							<div class="card-text">Filière : Technique Administrative</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/author.jpg" alt="https://unsplash.com/@mehdizadeh">
							</div>
							<div class="course_author_name">Diplôme Inivesitaire de Technologie</span></div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>2 ans</span></div>
						</div>
					</div>
				</div>

				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/course_2.jpg" alt="https://unsplash.com/@cikstefan">
						<div class="card-body text-center">
							<div class="card-title"><a href="courses.html">Administration Publique</a></div>
							<div class="card-text">Filière : Technique Administrative</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/author.jpg" alt="https://unsplash.com/@mehdizadeh">
							</div>
							<div class="course_author_name">Licence en Administration Publique</span></div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>3 ans</span></div>
						</div>
					</div>
				</div>

				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/course_3.jpg" alt="https://unsplash.com/@dsmacinnes">
						<div class="card-body text-center">
							<div class="card-title"><a href="courses.html">Informatique de Gestion </a></div>
							<div class="card-text">filière : Informatique</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/author.jpg" alt="https://unsplash.com/@mehdizadeh">
							</div>
							<div class="course_author_name">Diplome Universitaire de Technologie</div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>2 ans</span></div>
						</div>
					</div>
				</div>
				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/course_3.jpg" alt="https://unsplash.com/@dsmacinnes">
						<div class="card-body text-center">
							<div class="card-title"><a href="courses.html">Maintenance Informatique </a></div>
							<div class="card-text">filière : Informatique</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/author.jpg" alt="https://unsplash.com/@mehdizadeh">
							</div>
							<div class="course_author_name">Diplome Universitaire de Technologie</div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>2 ans</span></div>
						</div>
					</div>
				</div>

				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/course_4.jpg" alt="https://unsplash.com/@kellitungay">
						<div class="card-body text-center">
							<div class="card-title"><a href="courses.html">Génie Logiciel</a></div>
							<div class="card-text">Filière : Informatique</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/author.jpg" alt="https://unsplash.com/@mehdizadeh">
							</div>
							<div class="course_author_name">Licence Informatique</div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>3 ans</span></div>
						</div>
					</div>
				</div>

				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/course_5.jpg" alt="https://unsplash.com/@claybanks1989">
						<div class="card-body text-center">
							<div class="card-title"><a href="courses.html">Système et Réseaux</a></div>
							<div class="card-text">Filière : Informatique</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/author.jpg" alt="https://unsplash.com/@mehdizadeh">
							</div>
							<div class="course_author_name">Licence Informatique</div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>3 ans</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
<%-include ('./includes/footer')%>

</body>
</html>