<!DOCTYPE html>
<html lang="en">
<head>
<title>CFI-CIRAS</title>
<link rel="stylesheet" type="text/css" href="/css/news_styles.css">
<link rel="stylesheet" type="text/css" href="/css/news_responsive.css">
<%-include ('./includes/header')%>
</head>
<body>

	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(img/Michaelagence11-min.webp)"></div>
		</div>
		<div class="home_content">
			<h1>A propos</h1>
		</div>
	</div>
<!-- Présentation du CFI-CIRAS -->
<div class="cfi-section page_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-lg-5 order-4">
          <div class="cfi_image">
            <img src="/img/Michaelagence3-min.jpg" alt="CFI-CIRAS Image" class="animated-image cfi-image">
            <h2 class="cfi_title">CFI-CIRAS</h2>
          </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-1">
          <div class="cfi_content">
            <p class="cfi_text">Le Centre de Formation en Informatique du CIRAS (CFI-CIRAS) est un établissement d'enseignement supérieur public créé par décret N° 99-266 du 31 décembre 1999. Il est reconnu comme partenaire de l'université Marien NGOUABI, de l'Institut Africain d'Informatique (IAI) et de l'université de Reims-Champagne-Ardenne (France).</p>
            <p class="cfi_text">Le CFI-CIRAS se spécialise dans la promotion et le développement des technologies de l'information et de la communication. Il vise à former des cadres en techniques informatiques et en techniques administratives. L'académie CISCO du CFI-CIRAS forme des spécialistes en réseaux dont la compétence est internationalement reconnue.</p>
            <p class="cfi_text">L'encadrement et les enseignements sont assurés par les agents du CIRAS, les enseignants d'université (Congo, France, etc.) et des professionnels hauts fonctionnaires et cadres d'entreprises.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Historique du CFI-CIRAS -->
<div class="historique-section page_section parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section_title text-center">
            <h2>Historique du CFI-CIRAS</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <p class="historique_text">Le Centre de Formation en Informatique du CIRAS (CFI-CIRAS) est un établissement d'enseignement supérieur public créé par décret N° 99-266 du 31 décembre 1999.</p>
        </div>
        <div class="col-lg-6">
          <p class="historique_text">Le CFI est sous la tutelle académique du ministère en charge de l'enseignement supérieure et sous la tutelle administrative du Centre d'Informatique et de Recherche de l'Armée et de la Sécurité en sigle CIRAS, crée par decret présidentiel  n° 79-521 du 25 septembre 1979 .</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Missions du CFI-CIRAS -->
  <div class="missions-section page_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section_title text-center">
            <h2>Missions du CFI-CIRAS</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="mission_item">
            <h3>Mission 1</h3>
            <p class="mission_text">Assurer la formation initiale et continue dans les cycles courtn moyen et superieur.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mission_item">
            <h3>Mission 2</h3>
            <p class="mission_text">Assurer le perfectionnement et recyclage des agents de la force publique, de l'administration publique et des employés des entreprise publique et du secteur privé.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mission_item">
            <h3>Mission 3</h3>
            <p class="mission_text">Diffuser la culuture des technologie de l'information et de la communication.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

	<!-- Partenaires -->

	<div class="partenaires-section">
		<h2 class="partenaires-titre">Nos Partenaires</h2>
		<div class="partenaires-container">
			<div class="partenaire">
				<img src="/img/logo_HP.PNG" alt="Partenaire 1">
				<p class="partenaire-nom">Nom Partenaire 1</p>
			</div>
			<div class="partenaire">
				<img src="/img/logo-IAI-Cameroun-good.png" alt="Partenaire 2">
				<p class="partenaire-nom">Nom Partenaire 2</p>
			</div>
			<div class="partenaire">
				<img src="/img/Cisco-Logo.jpg" alt="Partenaire 3">
				<p class="partenaire-nom">Nom Partenaire 3</p>
			</div>
			<div class="partenaire">
				<img src="/img/AUM.jpeg" alt="Partenaire 4">
				<p class="partenaire-nom">Nom Partenaire 4</p>
			</div>
			<div class="partenaire">
				<img src="/img/URCA.png" alt="Partenaire 5">
				<p class="partenaire-nom">Nom Partenaire 5</p>
			</div>
			<div class="partenaire">
				<img src="/img/versaiil.png" alt="Partenaire 6">
				<p class="partenaire-nom">Nom Partenaire 6</p>
			</div>
			<div class="partenaire">
				<img src="/img/momo_logo.jpeg" alt="Partenaire 7">
				<p class="partenaire-nom">Nom Partenaire 7</p>
			</div>
		</div>
	</div>

<%-include ('./includes/footer')%>

</body>
</html>
