<!DOCTYPE html>
<head>
<title>CFI-CIRAS</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="animated.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%-include('./includes/header')%>
	<!-- Home -->

	<div class="">

		<!-- Hero Slider -->
		<div class="hero_slider_container">
			<div class="hero_slider owl-carousel animated animate__fadeInUp">
				
				<!-- Hero Slide -->
				<div class="hero_slide ">
					<div class="hero_slide_background" style="background-image:url(img/Michaelagence15.jpg)"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Le Centre de Formation en Informatique</h1>
						</div>
					</div>
				</div>
				
				<!-- Hero Slide -->
				<div class="hero_slide">
					<div class="hero_slide_background" style="background-image:url(img/Michaelagence4.jpg)"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Le Centre de Formation en Informatique</h1>
						</div>
					</div>
				</div>
				
				<!-- Hero Slide -->
				<div class="hero_slide">
					<div class="hero_slide_background" style="background-image:url(img/Michaelagence11.jpg)"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Le Centre de Formation en Informatique</h1>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

<%-include('includes/footer')%>

</body>
</html>