<!DOCTYPE html>
<head>
<title>CFI-CIRAS</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="animated.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%-include('./includes/header')%>
	<!-- Home -->

	<div class="">

		<!-- Hero Slider -->
		<div class="hero_slider_container">
			<div class="hero_slider owl-carousel animated animate__fadeInUp">
				
				<!-- Hero Slide -->
				<div class="hero_slide ">
					<div class="hero_slide_background" style="background-image:url(img/bg.jpg)"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Le Centre de Formation en Informatique</h1>
						</div>
					</div>
				</div>
				
				<!-- Hero Slide -->
				<div class="hero_slide">
					<div class="hero_slide_background" style="background-image:url(img/img-cfi1.jpg)"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Le Centre de Formation en Informatique</h1>
						</div>
					</div>
				</div>
				
				<!-- Hero Slide -->
				<div class="hero_slide">
					<div class="hero_slide_background" style="background-image:url(img/bg.jpg)"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Le Centre de Formation en Informatique</h1>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

	<div class="hero_boxes mb-4 animated animate__fadeInUp">
		<div class="hero_boxes_inner">
			<div class="container">
				<div class="row">

					<div class="col-lg-4 hero_box_col">
						<div class="hero_box d-flex flex-row align-items-center justify-content-start">
							<img src="/img/earth-globe.svg" class="svg" alt="">
							<div class="hero_box_content">
								<h2 class="hero_box_title">Cours en ligne</h2>
							</div>
						</div>
					</div>

					<div class="col-lg-4 hero_box_col">
						<div class="hero_box d-flex flex-row align-items-center justify-content-start">
							<img src="/img/books.svg" class="svg" alt="">
							<div class="hero_box_content">
								<h2 class="hero_box_title">Bibliothèque</h2>							</div>
						</div>
					</div>

					<div class="col-lg-4 hero_box_col">
						<div class="hero_box d-flex flex-row align-items-center justify-content-start">
							<img src="/img/professor.svg" class="svg" alt="">
							<div class="hero_box_content">
								<h2 class="hero_box_title">Espace étudiant</h2>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- Popular -->
	<div class="popular page_section animated animate__fadeInUp">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Formation</h1>
					</div>
				</div>
			</div>

			<div class="row course_boxes">
				
				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/course_1.jpg" alt="https://unsplash.com/@kellybrito">
						<div class="card-body text-center">
							<div class="card-title"><a href="/formation">Informatique de gestion</a></div>
							<div class="card-text">Filière : Informatique </div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/dipl.jpg" width="42" alt="https://unsplash.com/@mehdizadeh">
							</div>
							<div class="course_author_name">Diplôme Universitaire de Technologie </div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>2 ans</span></div>
						</div>
					</div>
					<div class="col-md-19" id="btnFor">
						<a href="/formation"><button id="search_submit_button" type="submit" class="search_submit_button trans_200" value="Submit">Voir plus</button></a> 
					</div>	
				</div>

				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/course_2.jpg" alt="https://unsplash.com/@cikstefan">
						<div class="card-body text-center">
							<div class="card-title"><a href="/formation">Génie Logiciel</a></div>
							<div class="card-text">Filière : Informatique</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/dipl.jpg" width="42"alt="https://unsplash.com/@mehdizadeh">
							</div>
							<div class="course_author_name">Licence en Informatique </div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>3 ans</span></div>
						</div>
					</div>
				</div>

				<!-- Popular Course Item -->
				<div class="col-lg-4 course_box">
					<div class="card">
						<img class="card-img-top" src="/img/course_3.jpg" alt="https://unsplash.com/@dsmacinnes">
						<div class="card-body text-center">
							<div class="card-title"><a href="/formation">Administration Publique</a></div>
							<div class="card-text">Filière : Administration publique</div>
						</div>
						<div class="price_box d-flex flex-row align-items-center">
							<div class="course_author_image">
								<img src="/img/dipl.jpg" width="42" alt="https://unsplash.com/@mehdizadeh">
							</div>
							<div class="course_author_name">Licence en Informatique </div>
							<div class="course_price d-flex flex-column align-items-center justify-content-center"><span>3 ans</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>

	<div class="milestones">
		<div class="container">
		</div>
		<div class="milestones_container">
			<div class="milestones_background" style="background-image:url(img/milestones_background.jpg)"></div>
			
			<div class="container">
				<div class="row">
					
					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon"><img src="/img/milestone_1.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
							<div class="milestone_counter" data-end-value="750">0</div>
							<div class="milestone_text">Etudiant actuels</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon"><img src="/img/milestone_2.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
							<div class="milestone_counter" data-end-value="120">0</div>
							<div class="milestone_text">Formateur certifiés</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon"><img src="/img/milestone_3.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
							<div class="milestone_counter" data-end-value="39">0</div>
							<div class="milestone_text">Cours fournis</div>
						</div>
					</div>

					<!-- Milestone -->
					<div class="col-lg-3 milestone_col">
						<div class="milestone text-center">
							<div class="milestone_icon"><img src="/img/milestone_4.svg" alt="https://www.flaticon.com/authors/zlatko-najdenovski"></div>
							<div class="milestone_counter" data-end-value="3500" data-sign-before="+">0</div>
							<div class="milestone_text">Diplômé</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>


	<!-- Register -->

	<div class="register animated">

		<div class="container-fluid">
			
			<div class="row row-eq-height">
				<div class="col-lg-6 nopadding">
					
					<!-- Register -->

					<div class="register_section d-flex flex-column align-items-center justify-content-center">
						<div class="search_background" style="background-image:url(img/search_background.jpg);"></div>
						<div class="register_content text-center">
							<h1 class="register_title">Déposer vos dossier d'inscription au prochains concour du CFI-CIRAS depuis le bouton inscription </h1>
							<div class="button button_1 register_button mx-auto trans_200"><a href="/inscription">Inscription</a></div>
						</div>
					</div>

				</div>

				<div class="col-lg-6 nopadding">
					
					<!-- Search -->

					<div class="search_section d-flex flex-column align-items-center justify-content-center">
						<div class="search_background" style="background-image:url(img/search_background.jpg);"></div>
						<div class="search_content text-center">
							<h1 class="search_title">La Cisco Networking Academy du CFI-CIRAS propose des cours pour préparer des certifications sur des sujets tels que La Cybersécurité et le Réseau </h1>
							<form id="search_form" class="search_form" action="post">
								<div class="button button_1 register_button mx-auto trans_200"><a href="/inscription">Inscription</a></div>
							</form>
						</div> 
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Services -->

	<div class="services page_section ">
		
		<div class="container  ">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Corps Enseignant</h1>
					</div>
				</div>
			</div>

			<div class="teachers page_section">
				<div class="container">
					<div class="row">
					<!-- Teacher -->
						<div class="col-lg-4 teacher">
							<div class="card">
								<div class="card_img">
									<div class="card_plus trans_200 text-center"><a href="#"></a></div>
									<img class="card-img-top trans_200" src="/img/teacher_1.jpg" alt="https://unsplash.com/@michaeldam">
								</div>
								<div class="card-body text-center">
									<div class="card-title"><a href="#">Alain EKONDZI</a></div>
									<div class="card-text">Docteur en Intélligence Artifcielle</div>
									<div class="teacher_social">
										<ul class="menu_social">
										</ul>
									</div>
								</div>
							</div>
						</div>
		
						<!-- Teacher -->
						<div class="col-lg-4 teacher">
							<div class="card">
								<div class="card_img">
									<div class="card_plus trans_200 text-center"><a href="#"></a></div>
									<img class="card-img-top trans_200" src="/img/teacher_2.jpg" alt="https://unsplash.com/@jcpeacock">
								</div>
								<div class="card-body text-center">
									<div class="card-title"><a href="#">Claver ITOUA</a></div>
									<div class="card-text">Docteur en Cyber-Sécurité</div>
									<div class="teacher_social">
										<ul class="menu_social">
										</ul>
									</div>
								</div>
							</div>
						</div>
		
						<!-- Teacher -->
						<div class="col-lg-4 teacher">
							<div class="card">
								<div class="card_img">
									<div class="card_plus trans_200 text-center"><a href="#"></a></div>
									<img class="card-img-top trans_200" src="/img/teacher_3.jpg" alt="https://unsplash.com/photos/n8jeOSxCRfQ">
								</div>
								<div class="card-body text-center">
									<div class="card-title"><a href="#">Alphonse ILOKI-GATSONGO</a></div>
									<div class="card-text">Ingénieur Informatique</div>
									<div class="teacher_social">
										<ul class="menu_social">
										</ul>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="col-md-4">
					<a href="/personnel"><button id="search_submit_button" type="submit" class="search_submit_button trans_200" value="Submit">Voir le corps enseignant</button></a> 
				</div>	
			</div>
		</div>
	</div>
</div>

	<!-- Testimonials -->
	<div class="testimonials page_section ">
		<!-- <div class="testimonials_background" style="background-image:url(img/testimonials_background.jpg)"></div> -->
		<div class="testimonials_background_container prlx_parent">
			<div class="milestones_background2 testimonials_background" style="background-image:url(img/temoin.png)"></div>
		</div>
		<div class="container animated animate__fadeInUp">

			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Témoinage</h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					
					<div class="testimonials_slider_container">

						<!-- Testimonials Slider -->
						<div class="owl-carousel owl-theme testimonials_slider">
							
							<!-- Testimonials Item -->
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="/img/testimonials_user.jpg" alt="">
										</div>
										<div class="testimonial_name">james </div>
										<div class="testimonial_title">Promotion 2022-2023</div>
									</div>
								</div>
							</div>

							<!-- Testimonials Item -->
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="/img/testimonials_user.jpg" alt="">
										</div>
										<div class="testimonial_name">james cooper</div>
										<div class="testimonial_title">Promotion 2020-2021</div>
									</div>
								</div>
							</div>

							<!-- Testimonials Item -->
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="/img/testimonials_user.jpg" alt="">
										</div>
										<div class="testimonial_name">james cooper</div>
										<div class="testimonial_title">Promotion 2021-2022</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Events -->

	<div class="events page_section animated animate__fadeInUp">
		<div class="container">
			
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Actualités</h1>
					</div>
				</div>
			</div>
			
			<div class="event_items">

				<!-- Event Item -->
				<div class="row event_item">
					<div class="col">
						<div class="row d-flex flex-row align-items-end">

							<div class="col-lg-2 order-lg-1 order-2">
								<div class="event_date d-flex flex-column align-items-center justify-content-center">
									<div class="event_day">07</div>
									<div class="event_month">Janvier</div>
								</div>
							</div>

							<div class="col-lg-6 order-lg-2 order-3">
								<div class="event_content">
									<div class="event_name"><a class="trans_200" href="#">Debut du Concours d'entrés</a></div>
									<div class="event_location">CFI-CIRAS</div>
									<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
								</div>
							</div>

							<div class="col-lg-4 order-lg-3 order-1">
								<div class="event_image">
									<img src="/img/concoursr.webp" alt="https://unsplash.com/@theunsteady5">
								</div>
							</div>

						</div>	
					</div>
				</div>

				<!-- Event Item -->
				<div class="row event_item">
					<div class="col">
						<div class="row d-flex flex-row align-items-end">

							<div class="col-lg-2 order-lg-1 order-2">
								<div class="event_date d-flex flex-column align-items-center justify-content-center">
									<div class="event_day">07</div>
									<div class="event_month">Janvier</div>
								</div>
							</div>

							<div class="col-lg-6 order-lg-2 order-3">
								<div class="event_content">
									<div class="event_name"><a class="trans_200" href="#">Visite du Ministre de l'enseignement superieure</a></div>
									<div class="event_location">CFI-CIRAS</div>
									<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
								</div>
							</div>

							<div class="col-lg-4 order-lg-3 order-1">
								<div class="event_image">
									<img src="/img/event_2.jpg" alt="https://unsplash.com/@claybanks1989">
								</div>
							</div>

						</div>	
					</div>
				</div>

				<!-- Event Item -->
				<div class="row event_item">
					<div class="col">
						<div class="row d-flex flex-row align-items-end">

							<div class="col-lg-2 order-lg-1 order-2">
								<div class="event_date d-flex flex-column align-items-center justify-content-center">
									<div class="event_day">07</div>
									<div class="event_month">Janvier</div>
								</div>
							</div>

							<div class="col-lg-6 order-lg-2 order-3">
								<div class="event_content">
									<div class="event_name"><a class="trans_200" href="#">Déroulement des soutenance de la promotion 2022-2023</a></div>
									<div class="event_location">CFI-CIRAS</div>
									<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
								</div>
							</div>

							<div class="col-lg-4 order-lg-3 order-1">
								<div class="event_image">
									<img src="/img/sout.webp" alt="https://unsplash.com/@juanmramosjr">
								</div>
							</div>

						</div>	
					</div>
				</div>

			</div>
				
		</div>
	</div>
	<!-- Partenaires -->

	<div class="partenaires-section animated animate__fadeInUp">
		<h2 class="partenaires-titre">Nos Partenaires</h2>
		<div class="partenaires-container">
			<div class="partenaire">
				<img src="/img/logo_HP.PNG" alt="Partenaire 1">
				<p class="partenaire-nom"></p>
			</div>
			<div class="partenaire">
				<img src="/img/logo-IAI-Cameroun-good.png" alt="Partenaire 2">
				<p class="partenaire-nom"></p>
			</div>
			<div class="partenaire">
				<img src="/img/Cisco-Logo.jpg" alt="Partenaire 3">
				<p class="partenaire-nom"></p>
			</div>
			<div class="partenaire">
				<img src="/img/AUM.jpeg" alt="Partenaire 4">
				<p class="partenaire-nom"></p>
			</div>
			<div class="partenaire">
				<img src="/img/URCA.png" alt="Partenaire 5">
				<p class="partenaire-nom"></p>
			</div>
			<div class="partenaire">
				<img src="/img/versaiil.png" alt="Partenaire 6">
				<p class="partenaire-nom"></p>
			</div>
			<div class="partenaire">
				<img src="/img/momo_logo.jpeg" alt="Partenaire 7">
				<p class="partenaire-nom"></p>
			</div>
		</div>
	</div>
<%-include('includes/footer')%>
<script>
	// Vérifier si l'élément est visible dans la vue du navigateur
	$.fn.visible = function (partial) {
		var $t = $(this),
			$w = $(window),
			viewTop = $w.scrollTop(),
			viewBottom = viewTop + $w.height(),
			_top = $t.offset().top,
			_bottom = _top + $t.height(),
			compareTop = partial === true ? _bottom : _top,
			compareBottom = partial === true ? _top : _bottom;
		return compareBottom <= viewBottom && compareTop >= viewTop;
	};

	// Fonction pour ajouter la classe 'animate__fadeInUp' aux éléments animés lorsqu'ils apparaissent dans la vue
	function addAnimationClass() {
		$(".animated").each(function (index) {
			const $this = $(this);
			if ($this.visible(true)) {
				$this.addClass("animate__fadeInUp");
			}
		});
	}

	// Appel initial de la fonction pour les éléments déjà visibles lors du chargement de la page
	addAnimationClass();

	// Appeler la fonction lorsque l'utilisateur fait défiler la page
	$(window).scroll(function () {
		addAnimationClass();
	});
</script>
</body>

</html>