<!DOCTYPE html>
<html lang="en">
<head>
<title>CFI-CIRAS</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<link rel="stylesheet" type="text/css" href="/css/news_styles.css">
<link rel="stylesheet" type="text/css" href="/css/news_responsive.css">
<link rel="stylesheet" href="animated.css">
<%-include ('./includes/header')%>
</head>
<body>
  
<!-- Home -->

<div class="home animated animate__fadeInDown">
  <div class="home_background_container prlx_parent">
    <div class="home_background prlx" style="background-image:url(/img/Michaelagence2-min.jpg)"></div>
  </div>
  <div class="home_content">
    <h1>Actualités</h1>
  </div>
</div>

<!-- News -->

<div class="news animated animate__fadeInTopLeft">
  <div class="container">
    <div class="row">

      <!-- News Column -->
      <div class="col-lg-8">

        <div class="news_posts">
          <!-- News Post -->
          <div class="news_post">
            <div class="news_post_image">
              <img src="/img/concoursr.webp" alt="https://unsplash.com/@dsmacinnes">
            </div>
            <div class="news_post_top d-flex flex-column flex-sm-row">
              <div class="news_post_date_container">
                <div class="news_post_date d-flex flex-column align-items-center justify-content-center">
                  <div>13</div>
                  <div>Octobre</div>
                </div>
              </div>
              <div class="news_post_title_container">
                <div class="news_post_title">
                  <a href="">Début du Concours d'entés</a>
                </div>
                <div class="news_post_meta">
                  <span class="news_post_author"><a>CFI-CIRAS</a></span>
                  <span>|</span>
                </div>
              </div>
            </div>
            <div class="news_post_text">
              <p>Le CFI-CIRAS, Centre de Formation en Informatique du CIRAS, est ravi d'annoncer la date de son concours d'entrée pour l'année académique 2023-2024. Marquez vos calendriers car cette opportunité exceptionnelle se tiendra le 13 octobre.</p>
            </div>
          </div>

          <!-- News Post -->
          <div class="news_post">
            <div class="news_post_image">
              <img src="/img/sout.webp" alt="https://unsplash.com/@dsmacinnes">
            </div>
            <div class="news_post_top d-flex flex-column flex-sm-row">
              <div class="news_post_date_container">
                <div class="news_post_date d-flex flex-column align-items-center justify-content-center">
                  <div>12</div>
                  <div>mai</div>
                </div>
              </div>
              <div class="news_post_title_container">
                <div class="news_post_title">
                  <a href="">Soutenances</a>
                </div>
                <div class="news_post_meta">
                  <span class="news_post_author"><a>CFI-CIRAS</a></span>
                  <span>|</span>
                </div>
              </div>
            </div>
            <div class="news_post_text">
              <p>Nous sommes heureux de vous informer que les soutenances des travaux de fin d'études auront lieu prochainement ce Lundi 12 Mai 2024. C'est un moment crucial pour nos étudiants, où ils auront l'opportunité de présenter leurs recherches et leurs projets devant un comité d'experts.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sidebar Column -->
      <div class="col-lg-4">
        <div class="sidebar">

          <!-- Latest Posts -->
          <div class="sidebar_section">
            <div class="sidebar_section_title">
              <h3>Dernier post</h3>
            </div>

            <div class="latest_posts">

              <!-- Latest Post -->
              <div class="latest_post">
                <div class="latest_post_image">
                  <img src="/img/concoursr.webp" alt="https://unsplash.com/@dsmacinnes">
                </div>
                <div class="latest_post_title"><a href="">Debut du Concours d'entrés</a></div>
                <div class="latest_post_meta">
                </div>
              </div>

             

              <!-- Latest Post -->
              <div class="latest_post">
                <div class="latest_post_image">
                  <img src="/img/sout.webp" alt="https://unsplash.com/@element5digital">
                </div>
                <div class="latest_post_title"><a href="">Déroulement des soutenance de la promotion 2022-2023</a></div>
                <div class="latest_post_meta">
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include ('./includes/footer')%>

<script src="/js/news_script.js"></script>
</body>
</html>
