<!DOCTYPE html>
<html lang="en">
<head>
<title>Course - Courses</title>
<link rel="stylesheet" type="text/css" href="/css/news_styles.css">
<link rel="stylesheet" type="text/css" href="/css/news_responsive.css">
<%-include ('./includes/header')%>
</head>
<body>

	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(img/courses_background.jpg)"></div>
		</div>
		<div class="home_content">
			<h1>Corps Administratif</h1>
		</div>
	</div>
	<!-- Présentation du Corps Enseignant -->
	<div class="presentation-corps-section page_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col">
							<div class="section_title text-center">
								<h1>Présentation du Corps Enseignant</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="presentation-corps_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non mauris vitae, consequat nisi nec, placerat turpis. Duis efficitur urna eget sem dictum, sed egestas felis porta. Phasellus semper, nunc a tristique fermentum, tortor ligula malesuada urna, vel malesuada arcu nunc ut tortor.</p>
					<p class="presentation-corps_text">Praesent aliquam purus dui, vel lobortis nunc efficitur eget. Suspendisse et cursus odio. Nulla sodales tempor nisi nec vulputate. Vivamus congue mauris sed felis posuere, eget laoreet ante convallis. Mauris quis enim a enim venenatis pretium.</p>
					<p class="presentation-corps_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non mauris vitae, consequat nisi nec, placerat turpis. Duis efficitur urna eget sem dictum, sed egestas felis porta. Phasellus semper, nunc a tristique fermentum, tortor ligula malesuada urna, vel malesuada arcu nunc ut tortor.</p>
					<p class="presentation-corps_text">Praesent aliquam purus dui, vel lobortis nunc efficitur eget. Suspendisse et cursus odio. Nulla sodales tempor nisi nec vulputate. Vivamus congue mauris sed felis posuere, eget laoreet ante convallis. Mauris quis enim a enim venenatis pretium.</p>
					<p class="presentation-corps_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non mauris vitae, consequat nisi nec, placerat turpis. Duis efficitur urna eget sem dictum, sed egestas felis porta. Phasellus semper, nunc a tristique fermentum, tortor ligula malesuada urna, vel malesuada arcu nunc ut tortor.</p>
				</div>
			</div>
		</div>
	</div>

    <!-- Chargés d'Enseignement -->
    <div class="chargés-enseignement-section page_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center">
                        <h2>Chargés d'Enseignement</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">EKONDZI ALAIN</div>
                    <div class="image-name">Enseignant 1</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">AMPINI DIEUDONNÉ</div>
                    <div class="image-name">Enseignant 1</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">OKO-OBIAKOUA RICKY</div>
                    <div class="image-name">Enseignant 1</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">NGOUBOU ROCH CORNEILLE</div>
                    <div class="image-name">Enseignant 1</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">MALOUATA RODNELLIN ONESIME</div>
                    <div class="image-name">Enseignant 1</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">LANGA FRANCK</div>
                    <div class="image-name">Enseignant 1</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">BANGO ANGE</div>
                    <div class="image-name">Enseignant 1</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">OBILANGOUNDA</div>
                    <div class="image-name">Enseignant 1</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">YOMBI STEVEN</div>
                    <div class="image-name">Enseignant 1</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">NGOLO KIVIE</div>
                    <div class="image-name">Enseignant 1</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">   
                        MFOUTOU PRISCA AUBAIN</div>
                    <div class="image-name">Enseignant 1</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">KIBANGOU GUYET NEULORD</div>
                    <div class="image-name">Enseignant 1</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">OBAMI YALA CHRIST</div>
                    <div class="image-name">Enseignant 1</div>
                </div>
                <!-- Ajouter les autres images et noms ici -->
            </div>
            <!-- Ajouter les autres colonnes ici -->
        </div>
    </div>

    <!-- Chargés de Cours -->
    <div class="chargés-cours-section page_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center">
                        <h2>Chargés de Cours</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">AMBERE ACHILLE</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">ANDZOUANA ELSIE DEOVIE</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">BAKOU LONGO OLIVIER</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">BANZOUZI NGOLA</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">BASSINDIKILA GILLES</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">BIYELE FRANÇOIS</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">BONGUILI PAUL</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">EBA EMILE</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">EBOMBO DESTIN</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">EWOUYA ROCHY</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">EYANGOLO Vivien</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">GAKOSSO OKANDZE OFOUNGA</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">   
                        GANKA LAMETRIE BONHEUR</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">GOMA SERGE</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">GUEKORAT HARDING LANDRY</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">HOUAMANABIO ADOLPHE</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">IBARA KIEBE MARIUS</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">ILOKI NGATSONGO ALPHONSE</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">INIE YVONNE</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">ITOUA CLAVER</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">KESSAKI MABA NGAYOKO</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">KIFOUANI DIDIER</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">KISSITA SAMUEL</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">KITOKO ROLAND ALEXIS</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">   
                        LOEMBA PANGOUD RAYMOND FRANCK</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">   
                        MAHOUENE VINCENT</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">MEBIAMA GÉDÉON</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">   
                        MIASSOUAMINA JEAN LÉON</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">MIENDOUDI FRANÇOIS</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">MIKOLA MALONGA TED</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">MOUABA ALAIN</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">MOUANGOU SIMON ROMUALD</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">MOUSSIESSI FRANÇOIS</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">NDINGA ATSONO J.B</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">NGALA JEANNE</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">NGOLALI Victor</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">NGOUNGA M'VOULA</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">NGUIE RIVEL</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">NKELETELA ARSÈNE</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">OKANDO FÉLIX</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">   
                        ONDONGO PRINCE</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">   
                        OQUEMBA OLAF</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">OYERE MOREL</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">   
                        PANGUI MARTIAL</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">   
                        TCHITEMBO JEAN FRANÇOIS</div>
                </div>
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">TCHITEMBO AUGUSTIN</div>
                </div>
               <!-- Ajouter les autres images et noms ici -->
            </div>
            <!-- Ajouter les autres colonnes ici -->
        </div>
    </div>

    <!-- Chargés d'Enseignement Technique et Professionnel -->
    <div class="chargés-technique-professionnel-section page_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center">
                        <h2>Chargés d'Enseignement Technique et Professionnel</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 image-column">
                    <img src="img/teacher_1.jpg" alt="Image 1">
                    <div class="image-name">Enseignant 1</div>
                </div>
                <!-- Ajouter les autres images et noms ici -->
            </div>
            <!-- Ajouter les autres colonnes ici -->
        </div>
    </div>

<%-include ('./includes/footer')%>

</body>
</html>
