    /* Règles pour écran de 400px */
    @media (max-width: 400px) {
        /* Styles spécifiques pour la section "Admission par Concours" */
        .admission-title {
            font-size: 14px;
        }

        .admission-text {
            font-size: 10px;
        }

        /* Styles spécifiques pour la section "Composition du dossier" */
        .composition-dossier-title {
            font-size: 14px;
        }

        .composition-dossier-list {
            font-size: 10px;
        }

        /* Styles spécifiques pour la section "Inscription" */
        .Inscription-title {
            font-size: 14px;
        }

        .Inscription-text {
            font-size: 10px;
        }

        .Inscription-list {
            font-size: 10px;
        }

        .btn-depot-dossier {
            font-size: 10px;
            padding: 6px 8px;
        }

        /* Styles spécifiques pour la modal d'inscription */
        #inscriptionModal {
            max-width: 90%;
        }

        #inscriptionModalLabel {
            font-size: 12px;
        }

        .modal-body input,
        .modal-body select,
        .modal-body label {
            font-size: 10px;
        }

        /* Styles spécifiques pour le message de succès de la modal */
        #successMessage p {
            font-size: 10px;
        }
    }

    /* Règles pour écran de 360px */
    @media (max-width: 360px) {
        /* Styles spécifiques pour la section "Admission par Concours" */
        .admission-title {
            font-size: 12px;
        }

        .admission-text {
            font-size: 10px;
        }

        /* Styles spécifiques pour la section "Composition du dossier" */
        .composition-dossier-title {
            font-size: 12px;
        }

        .composition-dossier-list {
            font-size: 10px;
        }

        /* Styles spécifiques pour la section "Inscription" */
        .Inscription-title {
            font-size: 12px;
        }

        .Inscription-text {
            font-size: 10px;
        }

        .Inscription-list {
            font-size: 10px;
        }

        .btn-depot-dossier {
            font-size: 10px;
            padding: 6px 8px;
        }

        /* Styles spécifiques pour la modal d'inscription */
        #inscriptionModal {
            max-width: 90%;
        }

        #inscriptionModalLabel {
            font-size: 12px;
        }

        .modal-body input,
        .modal-body select,
        .modal-body label {
            font-size: 10px;
        }

        /* Styles spécifiques pour le message de succès de la modal */
        #successMessage p {
            font-size: 10px;
        }
    }
    /* Règles pour écran de 768px */
    @media (max-width: 768px) {
        /* Styles spécifiques pour la section "Admission par Concours" */
        .admission-title {
            font-size: 18px;
        }

        .admission-text {
            font-size: 14px;
        }

        /* Styles spécifiques pour la section "Composition du dossier" */
        .composition-dossier-title {
            font-size: 18px;
        }

        .composition-dossier-list {
            font-size: 14px;
        }

        /* Styles spécifiques pour la section "Inscription" */
        .Inscription-title {
            font-size: 18px;
        }

        .Inscription-text {
            font-size: 14px;
        }

        .Inscription-list {
            font-size: 14px;
        }

        .btn-depot-dossier {
            font-size: 14px;
            padding: 10px 12px;
        }

        /* Styles spécifiques pour la modal d'inscription */
        #inscriptionModal {
            max-width: 90%;
        }

        #inscriptionModalLabel {
            font-size: 16px;
        }

        .modal-body input,
        .modal-body select,
        .modal-body label {
            font-size: 14px;
        }

        /* Styles spécifiques pour le message de succès de la modal */
        #successMessage p {
            font-size: 14px;
        }
    }
    /* Règles pour écran de 767px */
    @media (max-width: 767px) {
        /* Styles spécifiques pour la section "Admission par Concours" */
        .admission-concours-item {
            margin-bottom: 20px;
        }

        .admission-concours-icon {
            margin-bottom: 10px;
        }

        .admission-title {
            font-size: 18px;
        }

        .admission-text {
            font-size: 14px;
        }

        /* Styles spécifiques pour la section "Composition du dossier" */
        .composition-dossier-title {
            font-size: 18px;
        }

        .composition-dossier-list {
            font-size: 14px;
        }

        /* Styles spécifiques pour la section "Inscription" */
        .Inscription-title {
            font-size: 18px;
        }

        .Inscription-text {
            font-size: 14px;
        }

        .Inscription-list {
            font-size: 14px;
        }

        .btn-depot-dossier {
            font-size: 14px;
            padding: 10px 12px;
        }

        /* Styles spécifiques pour la modal d'inscription */
        #inscriptionModal {
            max-width: 90%;
        }

        #inscriptionModalLabel {
            font-size: 16px;
        }

        .modal-body input,
        .modal-body select,
        .modal-body label {
            font-size: 14px;
        }

        /* Styles spécifiques pour le message de succès de la modal */
        #successMessage p {
            font-size: 14px;
        }
    }
      /* Règles pour écran de 539px */
    @media (max-width: 539px) {
        /* Styles spécifiques pour la section "Admission par Concours" */
        .admission-title {
            font-size: 18px;
        }

        .admission-text {
            font-size: 12px;
        }

        /* Styles spécifiques pour la section "Composition du dossier" */
        .composition-dossier-title {
            font-size: 18px;
        }

        .composition-dossier-list {
            font-size: 10px;
        }

        /* Styles spécifiques pour la section "Inscription" */
        .Inscription-title {
            font-size: 18px;
        }

        .Inscription-text {
            font-size: 12px;
        }

        .Inscription-list {
            font-size: 10px;
        }

        .btn-depot-dossier {
            font-size: 12px;
            padding: 6px 10px;
        }

        /* Styles spécifiques pour la modal d'inscription */
        #inscriptionModal {
            max-width: 90%;
        }

        #inscriptionModalLabel {
            font-size: 14px;
        }

        .modal-body input,
        .modal-body select,
        .modal-body label {
            font-size: 12px;
        }

        /* Styles spécifiques pour le message de succès de la modal */
        #successMessage p {
            font-size: 12px;
        }
    }

    /* Règles pour écran de 479px */
    @media (max-width: 479px) {
        /* Styles spécifiques pour la section "Admission par Concours" */
        .admission-title {
            font-size: 16px;
        }

        .admission-text {
            font-size: 10px;
        }

        /* Styles spécifiques pour la section "Composition du dossier" */
        .composition-dossier-title {
            font-size: 16px;
        }

        .composition-dossier-list {
            font-size: 10px;
        }

        /* Styles spécifiques pour la section "Inscription" */
        .Inscription-title {
            font-size: 16px;
        }

        .Inscription-text {
            font-size: 10px;
        }

        .Inscription-list {
            font-size: 10px;
        }

        .btn-depot-dossier {
            font-size: 10px;
            padding: 6px 8px;
        }

        /* Styles spécifiques pour la modal d'inscription */
        #inscriptionModal {
            max-width: 90%;
        }

        #inscriptionModalLabel {
            font-size: 12px;
        }

        .modal-body input,
        .modal-body select,
        .modal-body label {
            font-size: 10px;
        }

        /* Styles spécifiques pour le message de succès de la modal */
        #successMessage p {
            font-size: 10px;
        }
    }




