.inscription-section {
    text-align: justify;
    text-align-last: center;
    font-family:'Times New Roman', Times, serif;
    color: #000;
}

.inscription-section p {
    margin-bottom: 20px;
}

.inscription-section .btn-depot-dossier {
    background-color: #ffcc00;
    color: #000;
}
